{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Add New Link
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">LINK TREE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('links_list') }}">Your Links</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="{{ url_for('add_link') }}">Add Link</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container">

  <form class="form-signin" method="POST" action="/edit/{{llid}}">
    <h2 class="form-signin-heading">Update Link</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.link_name,placeholder='Enter new link name') }}
    {{ wtf.form_field(form.link_url,placeholder='Enter new link URL') }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
  </form>

</div> <!-- /container -->
{% endblock %}