{% extends "bootstrap/base.html" %} {% block title %} Links {% endblock %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}"> {% endblock %} {% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">LINK TREE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="{{ url_for('add_link') }}">Add Link</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div>
    <a href="{{ url_for('add_link') }}">
        <div class="add-new-link-btn">Add New Link</div>
    </a>
    {% for link in links %}
    <div class="link-box">
        <div class="link-content">
            <p class="link-name">{{ link.linkname }}</p>
            <div class="link-url"><a href="{{link.linkurl}}" target="_blank">{{link.linkurl}}</a></div>
        </div>
        <div class="link-alter">
            <div class="link-delete"><a href="delete/{{link.id}}">Delete</a></div>
            <div class="link-edit"><a href="edit/{{link.id}}">Edit</a></div>
        </div>
    </div>
    <br> {% endfor %}
</div>

{% endblock %}