{% extends "bootstrap/base.html" %} {% block title %} Tree {% endblock %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}"> {% endblock %} {% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">LINK TREE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                <li><a href="{{ url_for('login') }}">Log in</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div>
    <h3 class="link-list-header">{{ name }}'s links are listed here.</h3>
    {% for link in links %}
    <div class="link-box">
        <div class="link-content">
            <p class="link-name">{{ link.linkname }}</p>
            <div class="link-url"><a href="{{link.linkurl}}" target="_blank">{{link.linkurl}}</a></div>
        </div>
    </div>
    <br> {% endfor %}
</div>

{% endblock %}